.tabItem {
    border: 2px solid white;
    padding: 0.8rem;
    border-radius: 2rem;
    cursor: pointer;
    transition-duration: 0.5s;
}

.tabItem.active {
    background-color: rgb(200, 61, 14);
    border: 1px solid rgb(200, 61, 14);
}